body {
    background: silver;
    width: 406px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.a {
    width: 400px;
    height: 100px;
    background: #e6f7b1;
    border: 3px solid black;
    text-align: center;
}
.b {
    width: 120px;
    height: 301px;
    background: #ffb8ff;
    border: 3px solid black;
    box-sizing: border-box;
    margin-top: 3px;
}
.c {
    width: 277px;
    height: 143px;
    background: #a0e2ff;
    border: 3px solid black;
    margin-top: 3px;
    margin-left: 3px;
}
.d {
    width: 277px;
    height: 143px;
    background: #a0e2ff;
    border: 3px solid black;
    margin-top: 3px;
    margin-left: 3px;
}
.e {
    width: 400px;
    height: 100px;
    background: #ffffca;
    border: 3px solid black;
    margin-top: 3px;
}
.cd {
    flex-direction: column;
}